* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color:  black;
}
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background: url(Img/сайт.jpg);
  height: 100vh;
  width: 100vw;
  background-repeat:no-repeat;
  background-position: center;
  background-size: 175vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 25vh;
    height: 25vh;
    background-image: url(Img/wooden-texture-brown-tones.jpg);
    background-position: center;
    background-size: 100%;
    border-radius: 50%;
    transform: translateY(-60%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    .clock {
      width: 90%;
      height: 90%;
      background: rgba(255, 255, 255, 0.589);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .block {
        width: 1px;
        height: 1px;


        .dot {
          width: 1.25vh;
          height: 1.25vh;
          background: red;
          z-index: 101;
          border-radius: 50%;
          position: relative;
        }

        .big-arrow {
          height: 1vh;
          border-bottom: 5.5vh solid rgb(0, 0, 0);
          border-left: 0.9vh solid rgba(0, 0, 0, 0);
          border-right: 0.9vh solid rgba(0, 0, 0, 0);
          border-radius: 35%;
          z-index: 100;
          transform: translate(-27.5%, -95%);
          transform-origin: 50% 87%;
        }

        .middle-arrow {
          height: 1vh;
          width: 1vh;
          border-bottom: 9.5vh solid rgb(0, 0, 0);
          border-left: 0.6vh solid rgba(0, 0, 0, 0);
          border-right: 0.6vh solid rgba(0, 0, 0, 0);
          border-radius: 100px;
          z-index: 100;
          transform: translate(0%, -155%);
          transform-origin: 50% 87%;
        }

        .little-arrow {
          height: 1vh;
          width: 0.75vh;
          border-bottom: 11.5vh solid rgb(255, 0, 0);
          border-left: 0.5vh solid rgba(0, 0, 0, 0);
          border-right: 0.5vh solid rgba(0, 0, 0, 0);
          border-radius: 30%;
          z-index: 100;
          transform: translate(0%, -230%);
          transform-origin: 50% 95%;
          animation-duration: 3s;
          animation-name: slidein;
          animation-iteration-count: infinite;
        }

        /*
        @keyframes slidein {
          from {
            transform: translate(0%, -230%) rotate(0deg);
          }
          to {
            transform: translate(0%, -230%) rotate(360deg);
          }
        }
        */


        .numbers {
          display: flex;

          p {
            font-size: 3vh;
            font-weight: 500;
            width: 1vw;
            transform: translate(750%, 0%);
          }
          .part1 {
            transform: translate(750%, 0%);
          }
          .part6 {
            transform: translate(750%, 0%);
          }
        }
      }



    }
  }
}